section.brand-bar
    div.container-text
        h3 Social Media 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Aenea dipiscing elit.  Aenea
    div.container-brand_icons
        a(href="#"): i(class="fab fa-facebook-f")
        a(href="#"): i(class="fab fa-twitter")
        a(href="#"): i(class="fab fa-google-plus-g")
        a(href="#"): i(class="fab fa-pinterest")
        a(href="#"): i(class="fab fa-instagram")
        a(href="#"): i(class="fab fa-stumbleupon")
        a(href="#"): i(class="fas fa-wifi")