div.custom 
    div.filter-black 
    div.container
        div.custom__text
            h1 STYLISH AXURE DESIGN
            hr 
            p Use the sections you need, remove the ones you don't.  Create gorgeous faster than ever!
            button.button__download Download
    