div.feature-03
    div.container
        div.feature-03__text
            h3 Standard Picture Section
            hr 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
              |euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan 
              |et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis 
              |natoque penatibus et magnis dis parturient montes.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
              |bibendum laoreet.
    div.container
        div.feature-03__image 
            img(src="./images/image_right_feature3.png", alt="rogth_image")
