section.feature-01 
    div.container-tabs
        div.container-buttons-tab#container-buttons-tab
            button.button-tab.selected TAB 1
            button.button-tab TAB 2
            button.button-tab TAB 3
        div.container-infos
            div.container-tab-info 
                h3 Tabs with soft transitioning effect. 1
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                    |bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra 
                    |justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
                    |penatibus et magnis dis parturient montes.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                     |bibendum laoreet.
                button.button__download.button__download--orange Download
            div.container-tab-info.not_show.next 
                h3 Tabs with soft transitioning effect. 2
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                    |bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra 
                    |justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
                    |penatibus et magnis dis parturient montes.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                     |bibendum laoreet.
                button.button__download.button__download--orange Download
            div.container-tab-info.not_show.before
                h3 Tabs with soft transitioning effect. 3
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                    |bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra 
                    |justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
                    |penatibus et magnis dis parturient montes.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
                     |bibendum laoreet.
                button.button__download.button__download--orange Download
    div.container-image
        img(src="./images/image_city.png", alt="image_city")