footer.footer
    div.footer__icons 
        a(href="#"): i(class="fab fa-facebook-f")
        a(href="#"): i(class="fab fa-twitter")
        a(href="#"): i(class="fab fa-google-plus-g")
        a(href="#"): i(class="fab fa-pinterest")
        a(href="#"): i(class="fab fa-instagram")
        a(href="#"): i(class="fab fa-stumbleupon")
        a(href="#"): i(class="fas fa-wifi")
    p © 2015 Axure Themes