header.header 
    div.container__header
        div.container
            div.header__logo
                img(src="./images/logo_navbar.png", alt="logo")
            h1.header__title MODERN AXURE TEMPLATE FOR BEAUTIFUL PROTOTYPES
            hr
            p.header__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio beatae quis, magnam magni blanditiis eius harum, quaerat quibusdam incidunt, natus velit veritatis! 
            button.button__download.button__download--aling-self Download
        div.container
            div.form 
                header.form__header
                    h2.form__title Try Your 
                        span.form__title.form__title--orange FREE 
                        |Trial Today
                form.form__form-input(action="#")
                    input(type="text", placeholder="NAME", required)
                    input(type="email", placeholder="EMAIL", required)
                    input(type="password", placeholder="PASSWORD", required)
                    input.button_get-started(type="submit", value="Get Started")