div.our-process
    div.container
        div.our-process__text
            h1 WHY THIS IS AWESOME
            hr 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    div.container
        div.our-procces__process
            div.our-process__box 
                i.far.fa-lightbulb
                h3 Thoughtful Design
                p Lorem ipsum dolor sit amet, consectetur adipiscing 
                  |elit. Aenean euismod bibendum laoreet. Proin gravida 
                  |dolor sit amet lacus accumsan et viverra.
            div.our-process__box 
                i.far.fa-keyboard
                h3 Thoughtful Design
                p Lorem ipsum dolor sit amet, consectetur adipiscing 
                  |elit. Aenean euismod bibendum laoreet. Proin gravida 
                  |dolor sit amet lacus accumsan et viverra.
            div.our-process__box 
                i.fas.fa-bolt
                h3 Thoughtful Design
                p Lorem ipsum dolor sit amet, consectetur adipiscing 
                  |elit. Aenean euismod bibendum laoreet. Proin gravida 
                  |dolor sit amet lacus accumsan et viverra.