div.pricing
 div.container
        div.pricing__text
            h1 PRICING OPTIONS
            hr 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 div.container
        div.pricing__options
            div.pricing__box
                header 
                    h3 Basic   
                    p.price 0
                    p.info-payment Free for Life
                div.content
                    p 1 GB OF SPACE 
                    p 10 GB OF BANDWIDTH
                    p 3 WEBSITES
                    p BASIC CUSTOMIZATION
                    p WORDPRESS INTEGRATION 
                    p EMAIL SUPPORT
            div.pricing__box
                header.most-popular 
                    h3 Professional   
                    p.price 19
                    p.info-payment Monthly Payment
                    p.most-popular OUR MOST POPULAR
                div.content
                    p 5 GB OF SPACE 
                    p 50 GB OF BANDWIDTH
                    p 12 WEBSITES
                    p ADVANCED CUSTOMIZATION
                    p WORDPRESS INTEGRATION 
                    p EMAIL SUPPORT
            div.pricing__box
                header 
                    h3 Enterprise
                    p.price 70
                    p.info-payment Monthly Payment
                div.content
                    p UNLIMITED SPACE 
                    p UNLIMITED BANDWIDTH
                    p 100 WEBSITES
                    p ADVANCED CUSTOMIZATION 
                    p WORDPRESS INTEGRATION 
                    p 24/7 CUSTOMER SUPPORT