div.testimonials 
     div.container
        div.testimonials__text
            h1 WHAT OUR CUSTOMERS ARE SAYING
            hr 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
     div.container
        div.testimonials__customers 
            div.customers__testimonial 
                div.cite
                    img.cloud-text(src="./images/cloud-text.png", alt="cloud")
                    cite Lorem ipsum dolor sit amet, 
                        |consectetur adipisicing elit. Doloribus 
                        |accusamus expedita repellat similique 
                        |odio aspernatur ex, architecto eaque 
                        |quo suscipit.
                div.avatar
                    img(src="./images/avatar.png", alt="avatar")
                    div.avatar__data
                        h2 Jeremy H.
                        h4 Manager
            div.customers__testimonial 
                div.cite
                    img.cloud-text(src="./images/cloud-text.png", alt="cloud")
                    cite Lorem ipsum dolor sit amet, 
                        |consectetur adipisicing elit. Doloribus 
                        |accusamus expedita repellat similique 
                        |odio aspernatur ex, architecto eaque 
                        |quo suscipit.
                div.avatar
                    img(src="./images/avatar.png", alt="avatar")
                    div.avatar__data
                        h2 John S.
                        h4 Frelancer
            div.customers__testimonial 
                div.cite
                    img.cloud-text(src="./images/cloud-text.png", alt="cloud")
                    cite Lorem ipsum dolor sit amet, 
                        |consectetur adipisicing elit. Doloribus 
                        |accusamus expedita repellat similique 
                        |odio aspernatur ex, architecto eaque 
                        |quo suscipit.
                div.avatar
                    img(src="./images/avatar.png", alt="avatar")
                    div.avatar__data
                        h2 Susan W.
                        h4 Photographer

