<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Axit PSD
        link(rel="stylesheet", href="css/styles.css", type="text/css")
        script(src="https://kit.fontawesome.com/465b28b80a.js" , crossorigin="anonymous")
    body   
        include ./includes/navbar 
        include ./includes/header  
        include ./includes/brandbar
        main
            section.features
                include ./includes/feature-01
                include ./includes/feature-02
                include ./includes/feature-03 
            section.our-process
                include ./includes/OurProcess
            section.pricing 
                include ./includes/pricing 
            section.testimonials
                include ./includes/testimonials
            section.custom 
                include ./includes/custom
        script(src="./js/feature-01.js")