@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
.button__download {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 10px 30px;
  transition: all 0.3s ease;
  width: fit-content;
}

.button__download:hover {
  transform: scale(0.98);
}

.button__download--orange {
  background-color: #ff8b38;
  border: none;
  box-shadow: 0px 0px 1px black;
}

.button__download--orange:hover {
  box-shadow: 0px 0px 0px black;
}

.button_get-started {
  color: white;
  background-color: #ff9b51;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  height: 60px;
  transition: all 0.3s ease;
  width: 100%;
}

.button_get-started:hover {
  background-color: #ff7e1e;
}

.button-tab {
  background-color: #333333;
  color: white;
  font-family: "Open Sans", sans-serif;
  min-width: 100px;
  width: fit-content;
  min-height: 100px;
  font-weight: bold;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.selected {
  background-color: #ff8b38;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.navbar {
  align-items: center;
  background-color: black;
  display: flex;
  height: fit-content;
  justify-content: space-around;
  left: 0;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .navbar__menu {
  flex: 0.6;
}

.navbar .navbar__menu .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar .navbar__menu .menu li {
  margin: 10px 25px;
  font-family: "Open Sans", sans-serif;
}

.navbar .navbar__menu .menu__item {
  color: white;
  padding-bottom: 1px;
  transition: color 0.2s ease;
}

.navbar .navbar__menu .menu__item:hover {
  color: gray;
  border-bottom: 2px solid white;
}

.navbar .navbar__logo {
  flex: 0.4;
}

.navbar .navbar__logo .logo {
  margin-left: 10%;
  width: 75px;
}

.header {
  background-image: url("../images/background-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  margin-top: 70px;
  min-height: 80vh;
}

.header .container__header {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}

.header .container__header .container {
  flex: .5;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 10%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .container__header .header__logo {
  align-self: flex-start;
}

.header .container__header .header__title {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.header .container__header hr {
  width: 65px;
  margin: 0;
  align-self: flex-start;
}

.header .container__header .header__paragraph {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  padding: 30px 0;
}

.header .container__header .button__download--aling-self {
  align-self: flex-start;
}

.header .container__header .form {
  border-radius: 5px;
  overflow: hidden;
  min-width: 200px;
  width: 100%;
  max-width: 420px;
  background-color: white;
}

.header .container__header .form .form__header {
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  padding: 0 20px;
}

.header .container__header .form .form__title {
  padding: 10px 0;
  margin: 0;
}

.header .container__header .form .form__title--orange {
  color: #ff9b51;
}

.header .container__header .form .form__form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .container__header .form .form__form-input input[type="text"],
.header .container__header .form .form__form-input input[type="email"],
.header .container__header .form .form__form-input input[type="password"] {
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 30px 0;
  width: 80%;
}

.header .container__header .form .form__form-input input[type="text"]::placeholder,
.header .container__header .form .form__form-input input[type="email"]::placeholder,
.header .container__header .form .form__form-input input[type="password"]::placeholder {
  color: #c6c6c6;
  font-family: "Open Sans", sans-serif;
}

.header .container__header .form .form__form-input input[type="submit"] {
  margin-top: 35px;
}

.brand-bar {
  align-items: center;
  border-bottom: 2px solid #cccccc;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-evenly;
  min-height: 10vh;
}

.brand-bar .container-text {
  font-family: "Open Sans", sans-serif;
  width: 30%;
}

.brand-bar .container-text h3 {
  margin-bottom: 0;
}

.brand-bar .container-text p {
  color: gray;
  margin-top: 2px;
  font-size: 0.9rem;
  font-weight: 400;
}

.brand-bar .container-brand_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
}

.brand-bar .container-brand_icons a {
  color: #cccccc;
  margin: 20px;
  transition: all 0.3s ease;
}

.brand-bar .container-brand_icons a:hover {
  color: #b3b3b3;
  transform: scale(0.98);
}

.brand-bar .container-brand_icons a i {
  color: inherit;
  font-size: 2.5rem;
}

.brand-bar .container-brand_icons a .fa-wifi {
  transform: rotate(45deg);
}

.feature-01 {
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  padding: 7%;
  min-height: 50vh;
}

.feature-01 .container-tabs {
  position: relative;
  display: flex;
  flex-basis: 55%;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature-01 .container-tabs .container-infos {
  height: 100%;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  width: 70%;
  z-index: 0;
}

.feature-01 .container-tabs .container-infos .not_show {
  opacity: 0;
  position: absolute;
  top: 0;
}

.feature-01 .container-tabs .container-infos .next {
  transform: translateY(-101%);
}

.feature-01 .container-tabs .container-infos .before {
  transform: translateY(101%);
}

.feature-01 .container-tabs .container-buttons-tab {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  overflow: hidden;
}

.feature-01 .container-tabs .container-tab-info {
  flex-basis: 380px;
  flex-shrink: 0;
  flex-grow: 1;
  font-family: "Open Sans", sans-serif;
  margin: 0 50px;
  transition: all 1s ease;
}

.feature-01 .container-tabs .container-tab-info p {
  color: grey;
  font-size: .9rem;
}

.feature-01 .container-tabs .container-tab-info :nth-child(3) {
  margin-bottom: 40px;
}

.feature-01 .container-image {
  display: grid;
  place-items: center;
  flex-basis: 350px;
  flex-grow: 1;
  margin-top: 100px;
}

.feature-01 .container-image img {
  max-width: 300px;
  width: 90%;
}

.feature-02 {
  display: flex;
  flex-wrap: wrap;
  min-height: 70vh;
  height: max-content;
  align-items: center;
  justify-content: space-around;
}

.feature-02 .feature-02__container-image {
  flex-basis: 500px;
  display: grid;
  place-items: center;
  flex-grow: 1;
}

.feature-02 .feature-02__container-image img {
  max-width: 500px;
  width: 90%;
}

.feature-02 .feature-02__container-text {
  flex-basis: 470px;
  flex-grow: 0.8;
  flex-shrink: 1;
  padding: 7%;
  font-family: "Open Sans", sans-serif;
}

.feature-02 .feature-02__container-text hr {
  width: 15%;
  text-align: left;
  margin-left: 0;
  border: 1px solid #ff8b38;
}

.feature-02 .feature-02__container-text p {
  color: gray;
  font-size: .9rem;
  margin-top: 2px;
}

.feature-02 .feature-02__container-text .title {
  margin-left: 30px;
}

.feature-02 .feature-02__container-text .title h4 {
  font-size: .95rem;
  font-weight: 600;
  margin-bottom: 0;
}

.feature-02 .feature-02__container-text .container-text__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-02 .feature-02__container-text .container-text__title i {
  padding: 12px 9px;
  border: 2px solid #ff8b38;
  border-radius: 100%;
  color: #ff8b38;
}

.feature-02 .feature-02__container-text .container-text__title #turn {
  transform: rotate(180deg);
}

@media (max-width: 700px) {
  #container-buttons-tab {
    flex-direction: row;
  }
  .container-infos {
    margin-top: 40px;
  }
}

@media (max-width: 350px) {
  #container-buttons-tab {
    flex-direction: column;
  }
}
