@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

.navbar {
  align-items: center;
  background-color: black;
  display: flex;
  height: fit-content;
  justify-content: space-around;
  min-height: 60px;
  position: fixed;
  width: 100%;
}

.navbar .navbar__menu {
  flex: 0.6;
}

.navbar .navbar__menu .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar .navbar__menu .menu li {
  margin: 10px 25px;
  font-family: "Open Sans", sans-serif;
}

.navbar .navbar__menu .menu__item {
  color: white;
  padding-bottom: 1px;
  transition: color 0.2s ease;
}

.navbar .navbar__menu .menu__item:hover {
  color: gray;
  border-bottom: 2px solid white;
}

.navbar .navbar__logo {
  flex: 0.4;
}

.navbar .navbar__logo .logo {
  margin-left: 10%;
  width: 75px;
}
