@media (max-width: 700px) {
    #container-buttons-tab {
      flex-direction: row;
    }

    .container-infos{ 
      margin-top: 40px;
    }
  }

@media (max-width: 900px ) {

  .navbar {
    
    i {
      display: block;
      font-size: 1.3rem;


    }
  
    .navbar__menu {
        flex: 0.1;
        position: absolute;
        background-color: black;
        top: 60px;
        right: 5px;
        border: 2px solid white;
        transform: translate(300%);
        transition: all 0.6s ease;
        .menu {
          flex-direction: column;
      }
    }
  }
}


@media (max-width: 600px) {
    textarea {
      width: 300px;
    }
  }

@media (max-width: 350px) {
    #container-buttons-tab {
      flex-direction: column;
    }

    :root {
      font-size: 12px;
    }

    textarea {
      width: 180px;
    }
  }