@media (max-width: 700px) {
    #container-buttons-tab {
      flex-direction: row;
    }

    .container-infos{ 
      margin-top: 40px;
    }
  }

  @media (max-width: 600px) {
    textarea {
      width: 300px;
    }
  }

@media (max-width: 350px) {
    #container-buttons-tab {
      flex-direction: column;
    }

    :root {
      font-size: 12px;
    }

    textarea {
      width: 180px;
    }

  }