.navbar {
    align-items: center;
    background-color: black;
    display: flex;
    height: fit-content;
    justify-content: space-around;
    left: 0;
    min-height: 60px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
    .navbar__menu {
        flex: 0.6;
        .menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .menu li {
            margin: 10px 25px;
            font-family: $font-openSans;
        }

        .menu__item {
            color: white;
            padding-bottom: 1px;
            transition: color 0.2s ease;

            &:hover {
                color: gray;
                border-bottom: 2px solid white;
            }
        }
    }

    .navbar__logo {
        flex: 0.4;

        .logo {
            margin-left: 10% ;
            width: 75px;
        }
    }
}