div.our-process {

    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    min-height: 70vh;

    .our-process__text {
        margin: 60px;
        text-align: center; 
        h1 {
            font-family: 'Agency FB', Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 2rem;
            margin-bottom: 10px;
        }

        hr {
            border: 1px solid #ff8b38;
            margin: 0 auto;
            width: 20%;
        }

        p {
            color: grey;
            font-size: .9rem;
            font-family: $font-openSans
        }
    }

    .our-procces__process {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        font-family: $font-openSans;
        justify-content: space-around;
        padding: 0px 5%;
        text-align: center;

        .our-process__box {
            flex-basis: 25%;
            flex-grow: 0;
            flex-shrink: 0;
            margin: 10px;
            min-width: 200px;
            
            i {
                border: 2px solid #fe8b38;
                border-radius: 100%;
                color: #fe8b38;
                padding: 20px 20px;
                font-size: 1.6rem;
            }

            p {
                color: grey;
                font-size: .9rem;
            }
        }
    }
}